.contact,
.contact-intro,
.platforms {
  display: flex;
  flex-direction: column;
}

.contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px var(--padding-h);
  margin-bottom: 140px;

  align-items: center;
  gap: 60px;

  position: relative;
  overflow-x: hidden;
}

.contact-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}

.contact-intro {
  justify-content: space-between;
}

.contact-intro h4 {
  font-weight: 600;
}
.contact-intro p {
  margin-top: 5px;
  line-height: 1;
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 19px;
}

.contact-intro p a {
  color: var(--secodary-c1);
  text-decoration: none;
  font-weight: 450;
  transition: color 300ms;
}

.platforms {
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.platforms a {
  text-decoration: none;
}

.platforms a svg {
  width: 40px;
  height: 40px;
  fill: #95c1f2;
  transition: fill 300ms;
}

.platforms a:hover svg {
  fill: #d58c8c;
  transition: background-color 300ms;
}

/****** Contact Form ******/
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #1e1e1e;
  box-shadow: 0 0px 5px #95c0f239;
  border-radius: 8px;
  border: 1px solid #95c0f27a;
  position: relative;
}

.inputs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  color: #aaa;
  background-color: #1e1e1e;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #95c0f27a;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #d58080;
  box-shadow: 0 0 0 3px #d580803a;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaaaaaaa;
  font-size: 16px;
  font-weight: 500;
}

.contact-form textarea {
  resize: none;
  overflow-y: auto;
  min-height: 150px;
  font-family: var(--montseraat);
}

.contact-form textarea::-webkit-scrollbar {
  width: 3px;
}

.contact-form textarea::-webkit-scrollbar-track {
  background: var(--bg-color1);
}

.contact-form textarea::-webkit-scrollbar-thumb {
  background-color: #95c1f2;
  border-radius: 6px;
  border: 1px solid var(--secondary-c2);
}

.submit-btn button {
  padding: 10px 15px;
  background-color: #67aeff;
  border: none;
  border-radius: 4px;
  color: #1e1e1e;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
  background-color: #d67070;
  box-shadow: 0 0 7px #d580806c;
}

.contact-form button:active {
  color: #fff;
  box-shadow: 0 0 0 2px #95c1f2;
  background-color: #67aeff;
}

.submit-btn {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.submit-btn button {
  margin-left: auto;
}

.success-message {
  background-color: #536075eb;
  color: #abccf1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.thanks {
  color: #d58c8c;
}

.error {
  color: #dc6969;
  font-size: 14px;
}

/* Responsive styles for screens up to 768px */
@media (max-width: 768px) {
  .contact {
    padding: 10px 20px;
    gap: 40px;
  }
  .contact-body {
    grid-template-columns: 1fr;
  }

  .contact-intro {
    gap: 20px;
  }

  .contact-intro p {
    margin-bottom: 0px;
  }

  .inputs-container {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .contact-form input {
    margin-bottom: 20px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 15px 10px;
  }

  .contact-intro p {
    font-size: 20px;
  }

  .platforms {
    margin-top: 20px;
    justify-content: center;
  }

  .platforms a svg {
    width: 35px;
    height: 35px;
  }

  .contact-form {
    padding: 15px;
  }

  .success-message {
    background-color: #536075fc;
    top: 33%;
    bottom: 33%;
    left: 2%;
    right: 2%;
  }
}
