footer {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 var(--padding-h);
  text-align: center;
  background-color: #010200;
}

footer p {
  border-top: 1px solid #dca8a8b1;
  width: 100%;
  padding: 20px 0;
  height: fit-content;
  font-size: 14px;
  font-weight: 450;
}
