.home-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;

  padding: 0 var(--padding-h);
  height: 90vh;
  height: 90dvh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/* Creating a glowing light trail effect (pink moon) */
.light-trail {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
      circle,
      rgba(103, 174, 255, 0.8) 0%,
      rgba(103, 174, 255, 0.051) 70%
    ),
    radial-gradient(
      circle,
      rgba(213, 128, 128, 0.8) 0%,
      rgba(213, 128, 128, 0.508) 70%
    );
  background-blend-mode: screen;
  animation: spin 2s linear infinite, fade 4s ease-in-out infinite alternate;
  position: absolute;
  top: 20%;
  right: 50px;
  bottom: 30%;
  margin: 20px;
  z-index: 0;
  box-shadow: 0 0 80px rgba(103, 174, 255, 0.837),
    0 0 80px rgba(213, 128, 128, 0.6);
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading h1 {
  font-size: 4.5rem;
  font-family: var(--poppins);
  font-weight: 700;
  user-select: none;
  background: linear-gradient(to right, var(--secodary-c1), var(--primary-c));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.p-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 80px;
}

.home-content p {
  max-width: 700px;
  color: var(--home-p-c);
  font-weight: 450;
  line-height: var(--p-line-height);
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: 60px;
}

.contact-btn-main {
  width: fit-content;
  cursor: pointer;
  border: 2px solid var(--secondary-c2);
  border-radius: 0 35px 35px 0;

  color: var(--secondary-c2);
  background-color: transparent;

  padding: 12px 18px;

  font-size: 1.4rem;
  transition: color 300ms, border-color 300ms;
}

.contact-btn-main:hover {
  color: var(--primary-c);
  border-color: var(--primary-c);
}

/* Responsive styles for screens up to 855px */
@media (max-width: 855px) {
  .home-section {
    padding: 20px 20px;
    margin-top: 200px;
    height: 90vh;
    height: 90dvh;
  }

  .light-trail {
    width: 250px;
    height: 250px;
    top: 10%;
    right: 30px;
    bottom: 20%;
    box-shadow: 0 0 60px rgba(103, 174, 255, 0.7),
      0 0 60px rgba(213, 128, 128, 0.5);
  }

  .home-content {
    padding-top: 0px;
    margin-top: 250px;
    margin-bottom: 0;
  }

  .heading h1 {
    font-size: 4rem;
  }

  .home-content p {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.3rem;
  }

  .contact-btn-main {
    align-self: center;
    margin-top: 150px;
    font-size: 1.2rem;
    border-radius: 35px;
  }
}

/* Additional responsive adjustments for screens smaller than 600px */
@media (max-width: 600px) {
  .home-section {
    padding: 15px 20px;
    margin-top: 10px;
  }

  .light-trail {
    width: 200px;
    height: 200px;
    top: 15%;
    right: 20px;
  }

  .heading h1 {
    font-size: 3rem;
  }

  .home-content p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .contact-btn-main {
    font-size: 1.1rem;
  }
}

/* Additional responsive adjustments for screens smaller than 400px */

@media (max-width: 400px) {
  .home-section {
    padding: 20px;
    height: 650px;
  }

  .light-trail {
    width: 140px;
    height: 140px;
  }

  .heading h1 {
    font-size: 2.75rem;
  }

  .home-content p {
    font-size: 1.1rem;
    padding-right: 15px;
  }

  .contact-btn-main {
    margin-top: 100px;
    font-size: 0.9rem;
  }
}
