:root {
  --montseraat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --padding-h: 60px;
  --padding-v: 20px;
  --bg-color1: #010200;
  --bg-color2: #0e0e0e;
  --bg-color3: #444;
  --color-1: #a6a6a6;
  --color-2: #bababa;
  --primary-c: #d58080;
  --secodary-c1: #67aeff;
  --secondary-c2: #95c1f2;
  --home-p-c: #d2e7ff;
  --p-line-height: 1.5;
}

/****** Projects *****/
.projects-section {
  background-color: var(--bg-color2);
  padding: 0 var(--padding-h) 100px var(--padding-h);
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 15px;
  align-self: center;

  padding-bottom: 15px;
  margin-top: 100px;
  position: relative;
}

.intro-header::before {
  content: "";
  position: absolute;

  left: 0%;
  right: 0%;
  bottom: 0;

  border-top: 2px solid var(--primary-c);
  width: 50%;
  transform: translateY(-50%) translateX(50%);
}

.intro-header h2 {
  font-size: 16px;
  font-weight: 500;
}

.intro-header p {
  font-size: 1.5rem;
  font-weight: 600;
}

.intro-message {
  line-height: 1.4;
  word-spacing: 0.09em;
  hyphens: auto;
}

.intro-message a {
  color: var(--secodary-c1);
  text-decoration: none;
  font-weight: 450;
  transition: color 300ms;
}

.intro-message a:hover {
  color: var(--secondary-c2);
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  gap: 40px;
}

/***** ProjectModal *****/
.project-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: #444444f6;
  display: flex;
  justify-content: center;
  z-index: 99999;
}

.project-modal-content {
  color: #bababa;
  background: #1c1c1c;
  padding: 20px;

  max-width: 700px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  overflow-y: auto;
}

.project-modal-content::-webkit-scrollbar {
  width: 5px;
}

.project-modal-content::-webkit-scrollbar-thumb {
  background-color: #666666;
  border-radius: 6px;
  border: 1px solid var(--bg-color1);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-close-button {
  color: var(--primary-c);
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-btns-container {
  margin: 0 auto;
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-btn {
  border: none;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  background-color: var(--primary-c);
  transition: background-color 300ms, scale 200ms;
}

.modal-btn:hover {
  background-color: #e37979;
  scale: 1.02;
}

.toc-titles ul {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
  font-weight: 600;
}

.toc-titles ul {
  list-style: none;
}

.toc-titles a {
  cursor: pointer;
  text-decoration: none;
}

.toc-titles a:hover {
  color: var(--primary-c);
}
.focus {
  color: var(--primary-c);
}

.toc-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 17px;
}

.toc-content p {
  padding-left: 15px;
  hyphens: auto;
}

.toc-content a {
  color: var(--secodary-c1);
  text-decoration: none;
  font-weight: 450;
  transition: color 300ms;
}

.toc-content a:hover {
  color: var(--secondary-c2);
}

.toc-content ul {
  list-style: circle;
  margin-left: 30px;
}
.toc-content li {
  margin-bottom: 5px;
}

.toc-content span {
  font-weight: 600;
}

#modal-body {
  display: flex;
  gap: 15px;
  font-size: 18px;

  padding: 10px;
  max-height: 50%;
  overflow-y: scroll;
  position: relative;
}

#modal-body h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.toc-titles {
  position: sticky;
  top: 0;
  text-align: right;
  border-right: 2px solid var(--primary-c);
  padding-right: 15px;
}

#modal-body::-webkit-scrollbar {
  width: 5px;
}

#modal-body::-webkit-scrollbar-track {
  background: #1c1c1c;
}

#modal-body::-webkit-scrollbar-thumb {
  background-color: var(--primary-c);
  border-radius: 6px;
  border: 1px solid var(--bg-color1);
}

/****** ScreenShots ******/
.screen-shots-container {
  width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.img-slide {
  padding: 30px 50px !important;
  height: auto;
}

#img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 3px #00000048;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-c) !important;
}

.swiper-pagination-bullet {
  background-color: var(--primary-c) !important;
}

/****** ProjectCard ******/
.project-card {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  color: var(--bg-color3);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: var(--secodary-c1);
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: #67aeff;
}
