:root {
  --montseraat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --padding-h: 60px;
  --padding-v: 20px;
  --bg-color1: #010200;
  --bg-color2: #0e0e0e;
  --bg-color3: #444;
  --color-1: #a6a6a6;
  --color-2: #bababa;
  --primary-c: #d58080;
  --secodary-c1: #67aeff;
  --secondary-c2: #95c1f2;
  --home-p-c: #d2e7ff;
  --p-line-height: 1.5;
}

.projects-section {
  background-color: var(--bg-color2);
  padding: 0 var(--padding-h) 100px var(--padding-h);
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.intro-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 15px;
  align-self: center;

  padding-bottom: 15px;
  margin-top: 100px;
  position: relative;
}

.intro-header::before {
  content: "";
  position: absolute;

  left: 0%;
  right: 0%;
  bottom: 0;

  border-top: 2px solid var(--primary-c);
  width: 50%;
  transform: translateY(-50%) translateX(50%);
}

.intro-header h2 {
  font-size: 16px;
  font-weight: 500;
}

.intro-header p {
  font-size: 1.5rem;
  font-weight: 600;
}

.intro-message {
  line-height: 1.4;
  word-spacing: 0.09em;
  hyphens: auto;
}

.intro-message a {
  color: var(--secodary-c1);
  text-decoration: none;
  font-weight: 450;
  transition: color 300ms;
}

.intro-message a:hover {
  color: var(--secondary-c2);
}

/* ProjectModal.css */
.modal-overlay {
  padding: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.856);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 99999;
}

.project-modal-content {
  background: rgb(195, 141, 141);
  padding: 20px;
  border-radius: 8px;

  width: 80%;
  height: 500px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  overflow-y: auto;
}

.modal-header {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  margin-top: 10px;
}

/* -------- */

.project-card {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  color: #444;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

/* --------- */

.projects {
  width: 100%;
  /* padding: 20px; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  gap: 40px;
}
