@import url("./style/about.css");
@import url("./style/projects.css");
@import url("./style/contact.css");

/*****  poppins font family *****/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/****** DM Sans font  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/***** Montserrat *****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --montseraat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --padding-h: 60px;
  --padding-v: 20px;
  --bg-color1: #010200;
  --bg-color2: #0e0e0e;
  --bg-color3: #444;
  --color-1: #a6a6a6;
  --color-2: #bababa;
  --primary-c: #d58080;
  --secodary-c1: #67aeff;
  --secondary-c2: #95c1f2;
  --home-p-c: #d2e7ff;
  --p-line-height: 1.5;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color2);
  border-radius: 6px;
  border: 1px solid var(--secondary-c2);
}

::selection {
  background-color: #d58080;
  color: #010200;
}

html {
  font-family: var(--montseraat);
  scroll-behavior: smooth;
  background-color: var(--bg-color1);
  color: var(--color-1);
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--padding-v) var(--padding-h);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: var(--bg-color1);
  transition: all 900ms ease;
  z-index: 100;
  font-size: 16px;
}

.logo {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-about {
  box-shadow: 0 0px 50px #d5808083, 0 0px 150px #67aeff85;
  transform: translateY(-10px);
  z-index: 200;
}

.header-projects {
  box-shadow: 0 0px 50px #d5808050, 0 0px 150px #95c0f255;
  transform: translateY(-10px);
  z-index: 200;
}

.header-contact {
  box-shadow: 0 0px 50px #d5808024, 0 0px 150px #95c0f227;
  transform: translateY(-10px);
  z-index: 200;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.desktop-nav a {
  cursor: pointer;
  text-decoration: none;
  transition: color 300ms;
  padding: 7px 0;
  transition: color 0.3s ease;
}

.desktop-nav a:hover {
  color: var(--primary-c);
}

.desktop-nav a.active {
  border-bottom: 1.5px solid var(--primary-c);
}

/***** Mobile Menu Icon *****/
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/***** Language Button *****/

.language-toggle {
  cursor: pointer;
  padding: 4px 8px;
  color: #fff;
  font-size: 14px;
  background-color: var(--primary-c);
  border: none;
  border-radius: 3px;
  transition: background-color 300ms;
}

.language-toggle:hover {
  background-color: var(--secondary-c2);
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color1);

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.modal.open {
  transform: translateX(0);
}

.modal-content {
  background-color: var(--bg-color3);
  width: 75%;
  max-width: 300px;
  height: fit-content;
  position: fixed;
  top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-content .close {
  all: unset;
  align-self: flex-end;
  font-size: 30px;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav a,
.mobile-nav button {
  all: unset;
  text-decoration: none;
  width: fit-content;
  text-align: left;
  padding: 10px;
  transition: background-color 300ms;
}

.mobile-nav a:hover,
.mobile-nav button:hover {
  background-color: var(--primary-c);
  color: var(--bg-color3);
  border-radius: 4px;
}

/***** Home Section *****/

.container {
  background-image: url("./assets/image/home-bg-image.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.home-section {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 60px;

  padding: 0 var(--padding-h);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading h1 {
  font-size: 4.5rem;
  font-family: var(--poppins);
  font-weight: 700;
  user-select: none;
  /* Create a gradient effect for h1  */
  background: linear-gradient(to right, var(--secodary-c1), var(--primary-c));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.p-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  height: 80px;
}

.home-content p {
  max-width: 700px;
  color: var(--home-p-c);
  font-weight: 450;
  line-height: var(--p-line-height);
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: 60px;
}

.contact-btn-main {
  width: fit-content;
  cursor: pointer;
  border: 2px solid var(--secondary-c2);
  border-radius: 0 35px 35px 0;

  color: var(--secondary-c2);
  background-color: transparent;

  padding: 12px 18px;

  font-size: 1.4rem;
  transition: color 300ms, border-color 300ms;
}

.contact-btn-main:hover {
  color: var(--primary-c);
  border-color: var(--primary-c);
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #010200;
}

/***** Responsive Styles ******/
@media (max-width: 855px) {
  header,
  .home-section {
    padding: 20px 10px;
  }
  .desktop-nav,
  .header-btns {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .home-section {
    margin-top: 20px;
    background-size: 140%;
    background-repeat: no-repeat;
  }

  .home-content {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0px;
  }

  .home-content h1 {
    font-size: 2rem;
  }

  .home-content p {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 1rem;
  }

  .contact-btn-main {
    align-self: center;
    margin-top: 270px;
    font-size: 1rem;
    border-radius: 35px;
  }
}
