@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #191919;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
  border: 1px solid #95c0f278;
}

button {
  cursor: pointer;
}

body,
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background-color: #010200;
  color: #bababa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  transition: all 900ms ease;
  z-index: 100;
}

header.scroll-down {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 30px 150px #d5808026, 0 10px 50px #67aeff23;
  transform: translateY(-10px);
  background-color: #010200;
  z-index: 200;
}

.logo {
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.desktop-nav a {
  cursor: pointer;
  text-decoration: none;
  transition: color 300ms;
  padding: 7px 0;

  transition: color 0.3s ease;
}

.desktop-nav a:hover {
  color: #d58080;
}

.desktop-nav a.active {
  border-bottom: 1.5px solid #d58080;
}

section {
  height: 100vh;
}

/***** Mobile Menu Icon *****/
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/***** Language Button *****/

.language-toggle {
  cursor: pointer;
  padding: 4px 8px;
  color: white;
  background-color: #d58080;
  border: none;
  border-radius: 3px;
  transition: background-color 300ms;
}

.language-toggle:hover {
  background-color: #95c1f2;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.modal.open {
  transform: translateX(0);
}

.modal-content {
  background-color: #191919;
  width: 75%;
  max-width: 300px;
  height: fit-content;
  position: fixed;
  top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-content .close {
  all: unset;
  align-self: flex-end;
  font-size: 30px;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav a,
.mobile-nav button {
  all: unset;
  text-decoration: none;
  width: fit-content;
  text-align: left;
  padding: 10px;
  transition: background-color 300ms;
}

.mobile-nav a:hover,
.mobile-nav button:hover {
  background-color: #444;
  border-radius: 4px;
}

/***** Home Section *****/
.home-section {
  margin-top: 0;
  padding: 0 40px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-image: url("./assets/image/bg-image-wide.jpg");
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.home-content {
  padding-top: 70px;
}

.heading {
  display: flex;
  flex-direction: column;
}

.heading h1 {
  margin: 0;
  padding: 0;

  font-size: 4.5rem;
  font-weight: 700;

  background: -webkit-linear-gradient(#67aeff, #d58080);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.p-container {
  height: 100px;
}

.p-container p {
  max-width: 700px;
  color: #d2e7ff;
}

.home-content p {
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: 60px;
}

.contact-btn-main {
  width: fit-content;
  cursor: pointer;
  border: 2px solid #d58080;
  border-radius: 0 35px 35px 0;

  color: #d58080;
  background-color: transparent;

  padding: 12px 18px;

  font-size: 1.5rem;
  transition: color 300ms, border-color 300ms;
}

.contact-btn-main:hover {
  color: #95c1f2;
  border-color: #95c1f2;
}

main section {
  padding: 60px 20px;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #010200;
}

/***** Responsive Styles ******/
@media (max-width: 855px) {
  header,
  .home-section {
    padding: 20px 10px;
  }
  .desktop-nav,
  .header-btns {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .home-section {
    max-height: 680px;
    background-size: 140%;
    background-repeat: no-repeat;
  }

  .home-content {
    padding-top: 0;
    margin-top: 0;
  }

  .home-content h1 {
    font-size: 2rem;
  }

  .home-content p {
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 1rem;
  }

  .contact-btn-main {
    align-self: center;
    margin-top: 270px;
    font-size: 1rem;
    border-radius: 35px;
  }
}
