@import url("./style/header.css");
@import url("./style/home.css");
@import url("./style/about.css");
@import url("./style/projects.css");
@import url("./style/contact.css");
@import url("./style/footer.css");
@import url("./style/developmentModal.css");

/*****  poppins font family *****/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/****** DM Sans font  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/***** Montserrat *****/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --montseraat: "Montserrat", sans-serif;
  --poppins: "Poppins", sans-serif;
  --padding-h: 60px;
  --padding-v: 20px;
  --bg-color1: #010200;
  --bg-color2: #0e0e0e;
  --bg-color3: #444;
  --color-1: #a6a6a6;
  --color-2: #bababa;
  --primary-c: #d58080;
  --secodary-c1: #67aeff;
  --secondary-c2: #95c1f2;
  --home-p-c: #d2e7ff;
  --p-line-height: 1.5;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color2);
  border-radius: 6px;
  border: 1px solid var(--secondary-c2);
}

::selection {
  background-color: #d58080;
  color: #010200;
}

html {
  font-family: var(--montseraat);
  scroll-behavior: smooth;
  background-color: var(--bg-color1);
  color: var(--color-1);
}

button {
  cursor: pointer;
}

@media (max-width: 855px) {
  html {
    scrollbar-width: none;
  }
}
